body{
	background-color: #191918;
}	

#container{
	width: 100%;
}

header{
	padding-left: 0%;

}

#poolecollege{
	margin-right: 0%;
	width: 30%;
	height: 30%;
	float: right;
	display: inline-block;	
	position: center;
}

#logo{
	
	padding-top: 40px;
	width: 150px;
	height: 150px;
	display: inline-block;	
	position: center;
}

li{
	margin-top: 4%;
	display: block;
	position: left;
	color: white;
	width: 150px;
	height: 70px;
	border: 5px solid #1d6baf;
}


#li2{
	display: inline-block;
	color: white;
	width: 300px;
	height: 75px;
	border: 5px solid #1d6baf;
	float: left;
	margin-left: 15%;
}

#li3{
	display: inline-block;
	color: red;
	width: 300px;
	height: 75px;
	border: 5px solid #1d6baf;
	margin-left: 32.5%;
}

#li4{
	display: inline-block;
	color: white;
	width: 300px;
	height: 75px;
	border: 5px solid #1d6baf;
	float: left;
	margin-left: 32.5%;
}


a{
	display: inline-block;
	color: white;
	text-decoration: none;
	width: 100%;
	height: 100%;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
} 

a:hover{
	background: #404040;
	color: ;
}


#content{
	padding-top: 0%;
	position: left;
}



#Hello{
	color: #ff1e65;
	font-size: 225px;
	float: right;
	margin-right: 40%;
	margin-top: -5%;
}

#AG{
	color: #f17105;
	font-size: 100px;
	float: right;
	margin-right: 20%;
	margin-top: -15%;
}


h2{
	color: white;
	font-size: 150%;
	float: right;
	margin-right: 71%;
	text-decoration: underline;
}

#two{
	color: white;
	font-size: 95%;
	float: right;
	margin-right: 40%;
}

h3{
	color: white;
	font-size: 40px;
	float: right;
	margin-right: 45%;
	margin-top: 1%;
	text-decoration: underline;
}

#three{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 36%;
	margin-top: 1%;
	
}

#Facebook{
	float: right;
	width: 71px; 
	height: 71px;
	margin-top: 27%;
	margin-left: 60%;
}


h4{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 50%;
	text-decoration: underline;
}

#four{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 20%;
}

h5{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 48%;
	text-decoration: underline;
}

#five{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 25%;
}

h6{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 49%;
	text-decoration: underline;
}

#six{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 30%;
	margin-top: 0%;
}

#six2{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 86%;
	margin-top: 1%;
}



#sevenH{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 52%;
	text-decoration: underline;
	margin-top: 50px;
}

#seven{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 40%;
	margin-top: 0%;
}

#seven2{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 80%;
	margin-top: 0%;
}

#seven3{
	color: white;
	font-size: 20px;
	float: left;
	margin-left: 22%;
	margin-right: 60%;
	margin-top: -5%;
}

#seven4{
	color: white;
	font-size: 20px;
	float: left;
	margin-left: 45%;
	margin-right: 35%;
	margin-top: -6%;
	margin-bottom: 0%;
}

#eightH{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 52%;
	text-decoration: underline;
	
}

#eight{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 20%;

}

#eight2{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 84%;
	margin-top: -7%;
}

#eight3{
	color: white;
	font-size: 20px;
	float: left;
	margin-left: 30%;
	margin-right: 55%;
	margin-top: -8%;
}

#nineH{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 51%;
	text-decoration: underline;
	
}

#nine{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 45%;
}

#nine2{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 86%;
	margin-top: 1%;
}

#nine3{
	color: white;
	font-size: 20px;
	float: left;
	margin-left: 40%;
	margin-right: 45%;
	margin-top: -8%;
}
#nine4{
	color: white;
	font-size: 20px;
	float: left;
	margin-left: 75%;
	margin-right: 10%;
	margin-top: -8%;
}

#tenH{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 47.5%;
	text-decoration: underline;
	
}

#ten{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 20%;
}

#ten2{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 2%;
}

#elevenH{
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 51%;
	text-decoration: underline;
	
}

#eleven{
	color: white;
	font-size: 20px;
	float: right;
	margin-right: 45%;
}

#Graphics{
	margin-top: 15%;
	display: block;
	position: center;
	color: white;
	width: 180px;
	height: 75px;
	border: 5px solid #1d6baf;
}

#Graphics2{
	margin-top: -13%;
	display: block;
	float: left;
	margin-left: 30%;
	color: white;
	width: 180px;
	height: 75px;
	border: 5px solid #1d6baf;
}

#DigitalP{
	margin-top: 20%;
	display: block;
	position: center;
	color: white;
	width: 200px;
	height: 80px;
	border: 5px solid #1d6baf;
}

#Animation{
	margin-top: 23%;
	display: block;
	position: center;
	color: white;
	width: 200px;
	height: 80px;
	border: 5px solid #1d6baf;
}

#Bird{
	margin-top: 0%;
	margin-left: 1%;
	position: center;
	display: block;
	float: left;
	color: white;
	width: 170px;
	height: 140px;
}

#Birdp{
	color: white;
	font-size: 15px;
	float: right;
	margin-right: 84%;
	margin-top: 1%;
}

#Rose{
	margin-top: 0%;
	margin-right: 3%;
	position: center;
	display: block;
	float: right;
	color: white;
	width: 150px;
	height: 200px;
}

#Rosep{
	color: white;
	font-size: 20px;
	float: right;
	margin-left: 80%;
	margin-top: 0%;	
	
}

#MobileA{
	margin-top: 20%;
	display: block;
	position: center;
	color: white;
	width: 200px;
	height: 80px;
	border: 5px solid #1d6baf;
}

#MobileA2{
	margin-top: -14.5%;
	display: block;
	margin-left: 40%;
	float: left;
	color: white;
	width: 200px;
	height: 80px;
	border: 5px solid #1d6baf;
}

#MobileA3{
	margin-top: -15%;
	display: block;
	margin-left: 75%;
	float: left;
	color: white;
	width: 200px;
	height: 80px;
	border: 5px solid #1d6baf;
}

#WebsiteD1{
	margin-top: 20%;
	margin-left: 37%;
	display: block;
	position: center;
	color: white;
	width: 200px;
	height: 80px;
	border: 5px solid #1d6baf;
}


#Animation2{
	margin-top: 0%;
	font-size: 28px;
	margin-right: 40%;
	float: right;
	display: block;
	position: center;
	color: white;
	width: 200px;
	height: 80px;
	border: 5px solid #1d6baf;
}

#Animation3{
	margin-top: 0%;
	float: right;
	margin-right: 10%;
	display: block;
	position: center;
	color: white;
	width: 200px;
	height: 80px;
	border: 5px solid #1d6baf;
}